*,
*::before,
**::after,
*:before,
*after {
    box-sizing: border-box;
}


/* Para que le aplique box-sizing border-box a todos los elementos de la página */

body {
    background-color: burlywood;
    background-image: url(../images/Background.jpg);
    margin: 0em;
}

header {
    background-color: palegoldenrod;
    color: forestgreen;
    text-align: center;
    font-size: 1.7em;
    padding: 0.2em;
    margin: 1em;
}

div#contenido {
    /* background-image: url(../images/backgroundGrande.jpg); */
    width: 90%;
    max-width: 1200px;
    margin: 1em auto;
}

div#cuerpo {
    background-color: palegoldenrod;
    margin-right: 2%;
    width: 65%;
    float: left;
    padding: 0.4%;
    margin-bottom: 10%;
}

div article {
    margin-right: 4%;
    width: 45%;
    float: left;
}

aside {
    background-color: darkseagreen;
    width: 30%;
    position: relative;
    right: 0em;
    overflow-x: auto;
    border-style: solid;
    margin: 1% 1% 10% 1%;
    padding: 0.4%;
}

img {
    max-width: 90%;
    border-style: solid;
}

div#botones {
    width: 65%;
    float: left;
    clear: left;
    margin-bottom: 5%;
}

div#botones ul li {
    display: inline-block;
    width: 15%;
    padding-right: 3%;
}

footer {
    border-top: 4px solid mediumaquamarine;
    background-color: palegoldenrod;
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0px;
}

.movil {
    display: none
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.2em
    }
    div#contenido {
        margin: 0.5em auto
    }
    div#cuerpo {
        width: 95%;
    }
    div#botones {
        width: 90%;
    }
    aside {
        width: 90%;
        clear: none;
        position: relative;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.3em
    }
    h2 {
        font-size: 1.2em
    }
    h3 {
        font-size: 1.1em
    }
    div article {
        width: 95%;
    }
    nav ul {
        display: none
    }
    div#botones {
        margin-bottom: 4em;
    }
    footer {
        font-size: 0.5em;
    }
    .movil {
        display: inline
    }
    img {
        max-width: 70%;
    }
}