*,
*::before,
**::after,
*:before,
*after {
    box-sizing: border-box;
}


/* Para que le aplique box-sizing border-box a todos los elementos de la página */

header {
    background-color: palegoldenrod;
    color: forestgreen;
    text-align: center;
    padding: 0.2em;
    margin: 1em;
}

div#contenido {
    /* background-image: url(../images/backgroundGrande.jpg); */
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
}

div#cuerpo {
    background-image: url(../images/Background.jpg);
    margin-right: 2%;
    width: 65%;
    float: left;
}

div#botones {
    padding-right: 2%;
    width: 65%;
    float: left;
}

div article {
    margin-right: 4%;
    width: 45%;
    float: left;
}

aside {
    width: 30%;
    position: fixed;
    right: 0px;
    overflow-x: scroll;
    border-style: solid;
    margin: 0% 3% 3% 3%;
}

div#botones {
    clear: left;
}

div#botones ul li {
    display: inline-block;
    width: 15%;
    padding-right: 3%;
}

footer {
    border-top: 4px solid mediumaquamarine;
    background-color: palegoldenrod;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0px;
}

@media only screen and (max-width: 950px) {
    h1 {
        font-size: 1.5em
    }
    div#cuerpo {
        width: 95%;
    }
    div#botones {
        width: 90%;
    }
    aside {
        width: 90%;
        clear: none;
        position: relative;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1em
    }
    div article {
        width: 95%;
    }
}