*,
*::before,
**::after,
*:before,
*after {
    box-sizing: border-box;
}


/* Para que le aplique box-sizing border-box a todos los elementos de la página */

body {
    width: 90%;
    margin: 2em auto;
}

header {
    background-color: dodgerblue;
    color: palegoldenrod
}

nav {
    border: 1.5px solid;
    overflow: auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: block;
    float: left;
    padding-right: 6%;
}

.clear_fix {
    clear: both;
}

article {
    margin-right: 5%;
    width: 65%;
    float: left;
}

aside {
    width: 30%;
    float: left;
}

footer {
    border-top: 1px solid mediumaquamarine
}