body {color:white; background-color:gainsboro}
h1 {color:darkgray; background-color:beige;}
div {height: 20px;width:300px}
#e14 {background-color:rgb(107, 149, 214) }
#e13 {background-color:rgb(121, 168, 242) }
#e12 {background-color:rgb(136, 173, 232) }
#e11 {background-color: rgb(136, 200, 232)}
#e10 {background-color: rgb(158, 205, 229)}
#e09 {background-color: rgb(186, 221, 239)}
#e08 {background-color: rgb(200, 228, 239)}
#e07 {background-color: rgb(110, 239, 138)}
#e06 {background-color: rgb(255, 201, 255)}
#e05 {background-color: rgb(247, 180, 247)}
#e04 {background-color: rgb(239, 162, 239)}
#e03 {background-color: rgb(232, 134, 232)}
#e02 {background-color: rgb(209, 100, 209)}
#e01 {background-color: rgb(224, 47, 224)}
#e00 {background-color: rgb(209, 27, 209)}