cite.Titulo {font-size:20px ; color:brown}
cite.Tít_Original {font-size:20px ; color: royalblue}
strong.Autor {font-size:18px ; color: paleturquoise}
span.serie {font-size:18px ; color: green}
span.editorial {font-size:18px ; color: red}
